python-subprocess2
pyttsx3 
datetime
wikipedia
simple-webbrowser
SpeechRecognition
1OS
smtplib
playsound==1.2.2
pynput
pygame

pywhatkit
pyjokes
shutils
ctypes-windows
python-time
pyautogui
keyboard
plyer
pyaudio


notification